.DS_Store
.vscode/
dev/
.venv/
.python-version
*.ipynb
.idea/
.env

infrastructure/*.txt
infrastructure/tmp*/
infrastructure/data/*.csv
infrastructure/share_kubeconfigs/data/*.csv

*.csr
*.crt
*.key
kubeconfig.yml
templates/kubeconfig.j2
infrastructure/tmp
lectures/01/hello-kubernetes/
lectures/02/data-source-sample.py
__pycache__/
